@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --orange: hsl(24, 74%, 58%);
  --yellow: hsl(51, 95%, 54%);
  --scarlet: hsl(13, 96%, 47%);
  --black: hsl(0, 0%, 0%);
  --bg: hsl(0, 0%, 82%);
  --text-color: hsl(0, 0%, 10%);
  --lightGrey: #ffffff;
  --lightBlack:#c8c8c8;
  --darkGrey: hsl(0, 0%, 25%);
}


.darkTheme {
  --orange: hsl(24, 74%, 58%);
  --yellow: hsl(51, 95%, 54%);
  --scarlet: hsl(13, 96%, 47%);
  --black: hsl(0, 0%, 100%);
  --bg: #222;
  --text-color: hsl(0, 0%, 100%);
  --lightGrey: #333;
  --lightBlack:#555;
  --darkGrey: hsl(0, 0%, 75%);
}

body {
  background-color: var(--bg);
  color: var(--text-color);
  cursor: pointer;
}




/* body{
  cursor: pointer;
  background-color: hsl(0%, 0%, 100%);
  color: rgb(0, 0, 0);

}


body.darkTheme{
  cursor: pointer;
  background-color: #222;
  color: white;
} */


